.post-type-archive-product {
  /*site padding, select, products layout_____________*/
  .site-main {
    @include padding-side;
    .woocommerce-ordering {
      margin-bottom: 2rem;
    }
    .products {
      @include grid-layout;
    }
  }
  /*sidebar_____________*/

  .widget-area {
    margin-left: 3rem;

    //ul(first layer)
    .wc-block-product-categories-list--depth-0 {
      margin: 0;
      list-style-type: none;
      margin-right: 2rem;
      margin-top: 13rem;
      padding-left: 0;

      //li
      .wc-block-product-categories-list-item {
        padding: 0.5rem;
        border-bottom: 2px solid $color__black;

        &:hover {
          background-color: $color__pink;
        }

        a {
          text-decoration: none;
        }
      }
    }

    //ul (second layer)
    .wc-block-product-categories-list--depth-1 {
      list-style-type: none;
      margin-left: 0;

      .wc-block-product-categories-list-item {
        border-color: transparent;
      }
    }
  }

  /*product pages number_____________*/
  .woocommerce-pagination {
    ul.page-numbers {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      align-items: center;

      @media screen and (min-width: $breakpoint__tablet) {
        justify-content: flex-end;
      }

      @media screen and (min-width: $breakpoint__desktop) {
        justify-content: flex-end;
      }

      li {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          padding: 5px 10px;
          text-decoration: none;
          border: 1px solid $color__background-hr;
          border-radius: 4px;
          color: $color__darkgray;

          &:hover {
            background-color: $color__pink;
          }
        }

        span.current {
          border: 1px solid $color__background-hr;
          border-radius: 4px;
          padding: 5px 10px;
          background-color: #333;
          color: $color__white;
        }
      }
    }
  }
}
