.site-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  align-items: center;
  padding: 0.5rem 2rem;

  .site-branding {
    img {
      width: 100%;
      max-width: 80px;
      // min-width: 100px;
      height: 80px;
      display: block;

      @media screen and (min-width: $breakpoint__tablet) {
        width: auto;
        height: auto;
      }
    }
  }

  .secondary-navigation {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 0.8rem;

      li a {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          svg {
            fill: $color__link-visited;
          }
        }
      }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
      svg {
        fill: $color__link-visited;
      }
    }
    // .secondary-navigation__item {
    //   margin-left: 1rem;
    // }
  }
}
