.post-17 {
    @include padding-side;
    max-width: $width__content;
    margin: 0 auto;

    .woocommerce {
        display: flex;
        // justify-content: center;
    }
    .woocommerce-MyAccount-navigation {
        ul {
        @media screen and (min-width: $breakpoint__tablet) {
            margin: 0 2rem;
        }
       }
    }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
        border-bottom: 1px solid rgba(0,0,0,.05);
        text-decoration: none;
        padding: 0.875em 0;
        display: block;
        color: $color__darkgray;
    }
    .woocommerce-MyAccount-content {
        margin-left: 2rem;
        p {
            background-color: $color__pink;
        }
    }
    // .u-columns {
    //     @media screen and (min-width: $breakpoint__tablet) {
    //         // display: flex;
    //         gap: 2rem;
    //     }
    // }
}