.post-type-archive-product {
  .site {
    .widget-area{
      display: none;
    }
    @media screen and (min-width: $breakpoint__tablet) {
      display: grid;
      grid-template-columns: ($size__site-sidebar) auto;
      grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
      li.wc-block-product-categories-list-item:has(a[href*="services"]) {
        display: none;
      }
      .widget-area{
        display:block;
      }
    }
  }
}

.single-product,
.tax-product_cat{
  .widget-area{
    display: none;
  }
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
  grid-area: sidebar;
}

.site-footer {
  grid-area: footer;
}

@import "no-sidebar";
