$color__black: #231f20;
$color__white: #ffffff;
$color__pink: #feece6;
$color__darkgray: #414141;
$color__beige: #ece6e6;
$color__lightgray: #e7e8ea;
$color__darkpink: #912269;
$color__purple: #eed5eb;

$color__beige: #ece6e6;
$color__lightgray: #e7e8ea;
