// stylelint-disable value-keyword-case
$font__heading: "Playfair Display", cursive, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__main: "Lato", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-base: 1rem;
$font__size-h1: 2rem;
$font__size-h2: 1.5rem;
$font__size-h3: 1.25rem;

$font__desktop-size-base: 1.1rem;
$font__desktop-size-h1: 2.5rem;
$font__desktop-size-h2: 2rem;
$font__desktop-size-h3: 1.8rem;

$width__content: 1000px;