div.hero-btn a{
    @include cta-btn;
}
.home__h1 {
  display: none;
}

.swiper-hero {
    position: relative;

    .swiper-wrapper {
        .swiper-slide {
            padding: 0;
        }
    }
}
.slide-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hero-btn {
  position: absolute;
  bottom: 20%;
  right: 20%;
  padding: 1rem;
}
.swiper-hero > div {
    width: 100%; /* Set to 100% of the viewport width */
    height: 600px;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        height: auto;
    }
    // justify-content: center;
  }
.swiper-hero-h > div > img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
.swiper-button-prev-h, 
.swiper-button-next-h {
  color: hotpink !important;
  background-color: transparent;
  border: none;
}
.swiper-pagination-bullet-active {
  background: hotpink !important;
}
.swiper-pagination-h {
  text-align: center;
  margin-top: 1rem;
}