.testimonials {
    @include padding-side;
}

.swiper-testimonials {
    // width: 80%;
    position: relative;

.swiper-slide {
    padding: 2rem;
    h3 {
        margin-top: 0;
    }
}
}

.testimonials__content {
    background-color: $color__beige;
    article {
        margin: 2rem;
    }
}


.swiper-button-next-t, 
.swiper-button-prev-t {
    background-color: transparent;
    border: none;
    color: $color__pink!important;
}

.swiper-pagination-t {
    text-align: center;
}