.page-id-141 {
  h1 {
    @include heading-align;
  }
  .site-main {
    @include padding-side;

    .booking-product-section {
      @include grid-layout;
      padding: 4rem 0;

      article {
        text-align: center;
        img {
          width: 100%;
          display: block;
        }

        h2 {
          margin: 0;
          margin-bottom: 1rem;
        }

        a {
          @include cta-btn;
        }
      }
    }
  }
}
