.page-id-15 {
  @include padding-side;
  //product-thumbnail
  .shop_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    .button {
      @include cart-btn;
    }

    .product-thumbnail {
      img {
        display: block;
        margin: 0 auto;
      }
    }

    tbody {
      //general table
      tr {
        &:nth-child(even) {
          background-color: $color__purple;
          opacity: 0.8;
          .product-remove a {
            background-color: $color__white;
          }
        }

        td {
          padding: 10px;
          a {
            text-decoration: none;
          }
        }
      }
      //product thumbnail
      .product-thumbnail {
        img {
          border-radius: 30px;
        }
      }
      //remove
      .product-remove {
        padding-top: 1rem;
        a {
          background-color: $color__purple;
          padding: 10px;
          border-radius: 10%;
          color: $color__black;
        }
      }
      //product name
      .product-name {
        a {
          color: $color__black;
        }
      }
      //product-thumbnail
      .product-thumbnail {
        &::before {
          display: none;
        }
      }
    }
    //coupon code area
    .coupon {
      margin-bottom: 1rem;
    }

    #shipping_method {
      list-style: none;
    }
  }

  @media screen and (min-width: $breakpoint__tablet) {
    .shop_table {
      thead {
        background-color: $color__purple;
        th {
          padding: 10px;
          text-align: left;
        }
      }
      //coupon area
      .coupon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
      }

      .button[name="update_cart"] {
        display: block;
        position: absolute;
        right: 4rem;
      }
    }
  }
}
